<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{"/css/app.css" }}">
        <link rel="icon" href="{{ "favicon.ico" }}" type="image/x-icon" />
    {% endblock %}

    <title>{% block title %}{{ lang('appname') }}{% endblock %}</title>
</head>
<body>
<h1 style="position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    font-size: 150px">{{ lang('appname') }}<br>
</h1>
<p  style="position: absolute;
    left: 50%;
    top: 58%;
    transform: translate(-50% , -50%);
    font-size: 50px;margin-top: 100px;">{{ lang('welcome') }}</p>

</body>
</html>